.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-title
{
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
}
.info {
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 85%;
  display: inline-block;
  margin: 2px;
  padding: 2px;
}